@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  all: unset; /* Varsayılan tüm CSS özelliklerini kaldırır */
  cursor: pointer; /* Yeniden cursor stilini tanımlamak */
  display: inline-flex; /* İhtiyaca göre tekrar tanımlanacak stil */
  justify-content: center;
  align-items: center;
  
}


@layer utilities {
  .px-btn-padding-x {
    padding-left: 1rem; /* Örneğin 16px */
    padding-right: 1rem; /* Örneğin 16px */
  }
  .py-btn-padding-y {
    padding-top: 0.5rem; /* Örneğin 8px */
    padding-bottom: 0.5rem; /* Örneğin 8px */
  }
}

.btn {
  @apply text-primary-light ;
}
.btn:hover {
  @apply  text-white transition-colors duration-500;
}


.container {
  min-width: 378px;
}