@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  all: unset; /* Varsayılan tüm CSS özelliklerini kaldırır */
  cursor: pointer; /* Yeniden cursor stilini tanımlamak */
  display: inline-flex; /* İhtiyaca göre tekrar tanımlanacak stil */
  justify-content: center;
  align-items: center;
  
}
